.content {
    display: flex;
    justify-content: space-around;
}

.nd {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 24%;
    border-radius: 5px;
}

.nd>img {
    width: 100%;
}

.nd div img {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 5px;
}
.box1 {
    margin-top: auto;
}
.box2 {
    display: flex;
    margin-bottom: 5px;
}

.box2 p,.box3 p{
    color: rgb(20,20,20,0.5);
}
.box2 h4{
    margin-top: 0px;
}
.nd button {
    width: 30%;
    height: 50px;
    border-radius: 12%;
    background: #F66092;
    border: none;
    margin-left: 5px;
    margin-right: 20px;
}

.nd p {
    margin-left: 5px;
}

.box3 {
    display: flex;
    border-top: 1px solid gray;
    padding: 5px;
}
.box3 p{
    margin: auto;
    margin-right: 0px;
}


@media not screen and (min-width: 600px) {
    .content {
        flex-direction: column;
    }
    .nd{
        width: 100%;
        margin-bottom: 10px;
    }
}